/* Gerais */
body {
  font-family: "Roboto", sans-serif;
  /* background: rgb(0, 0, 0); */
}

.row {
  margin: 0;
}

.container {
  padding: 70px 0;
}

p,
li {
  color: #444;
  font-size: 14px;
}

/* Barra de navegação */

header ul {
  margin-left: 20%;
}

.nav-rensposive {
  display: none;
  cursor: pointer;
}

.nav-rensposive div {
  width: 32px;
  height: 2px;
  background-color: #fff;
  margin: 8px;
  flex-direction: column;
}


/*botões*/

.main-btn {
  background-color: #ffa500;
  color: #fff;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: 0.5s;
}

.main-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border-color: #ffa500;
}

.btn-primary {
  background-color: #ffc863;
}

#btn-dager {
  margin-top: 5px;
  margin-left: 15px;
}

#btn-cadastrar {
  margin-bottom: 50px;
}
/* login */

#login-area {
  text-align: left;
  background: rgb(239, 238, 238);
  border-radius: 0.5rem;
}

/* #titulo {
    text-align: center;
   } */

#titulo-pagina {
  color: #ff5a01;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.btn-primary {
  background-color: #ffc863;
}

#area-cards {
  border-radius: 10px;
}

/*usuarios */

.d-flex {
  margin-bottom: 10px;
  margin-top: 80px;
  margin-left: 70%;
}
/*Cadastro do projeto */

.btn-project {
  display: block;
  justify-content: space-between;
}
 
/* detalhes */


#cadastrar-projeto {
  margin-left: 50px;
}

/* Footer */

#contact-area {
  text-align: center;
  background-color: #d3ad7125;
}

.contact-box {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #d3ae71;
}

.contact-box i {
  color: #444;
  border: solid 1px #444;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-box p {
  font-size: 16px;
}

.contact-title {
  font-weight: bold;
  color: #d3ae71;
}

#msg-box p {
  font-size: 22px;
}

#contact-form input[type="text"],
#contact-form input [type="email"],
#contact-form textarea {
  margin-bottom: 15px;
  border-radius: 0;
}

#contact-form .main-bn {
  width: 120px;
  height: 50px;
}

#contact-form .main-btn:hover {
  color: #d3ae71;
}

/* Copy */

#copy-area {
  background-color: rgba(64, 80, 80, 0.418);
}

#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  margin-bottom: 0;
}

#copy-area .container a {
  font-weight: bold;
  color: #444;
}

#copy-area .container a:hover {
  text-decoration: none;
  color: #d3ae71;
}

/* erro */

.error {
  color: red;
}
